@model IEnumerable<Hung_Tran_Ngoc_66131218_Web_QLBH.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="search" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Tìm kiếm khách hàng..." />
        <button type="submit" class="btn btn-primary">Tìm</button>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaXa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKH)
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.AnhKH))
                    {
                        <img src="/images/uploads/@item.AnhKH" alt="Ảnh KH" style="width: 100px; height: auto; object-fit: cover;" />
                    }
                    else
                    {
                        <span>Chưa có ảnh</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChiFull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaXa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaKH">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaKH">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaKH">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>