@model IEnumerable<Hung_Tran_Ngoc_66131218_Web_QLBH.Models.TrangThaiDMH>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaTTDMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenTTDMH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTTDMH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTTDMH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTTDMH">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTTDMH">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTTDMH">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
