@model Hung_Tran_Ngoc_66131218_Web_QLBH.Models.CTBH

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CTBH</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DGB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DGB)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDBH">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
