@model IEnumerable<Hung_Tran_Ngoc_66131218_Web_QLBH.Models.DonMuaHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNCC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNCC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDMH">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDMH">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDMH">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
