@model Hung_Tran_Ngoc_66131218_Web_QLBH.Models.NhaCC

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhaCC</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenNCC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenNCC)
        </dd>

        <dt class="col-sm-2">
            Tỉnh / Thành phố
        </dt>
        <dd class="col-sm-10">
            @ViewBag.TenTinh
        </dd>

        <dt class="col-sm-2">
            Xã / Phường
        </dt>
        <dd class="col-sm-10">
            @ViewBag.TenXa
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiNCC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChiNCCFull)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoaiNCC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DienThoaiNCC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailNCC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailNCC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNCC">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>